.post--area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}

.post--title {
  font-size: 26px;
  text-transform: uppercase;
}

.post--text__area {
  padding: 4px 0;
  overflow-wrap: break-word;
  line-height: 1.2;
}

.button--area {
  margin: 0;
}

.button {
  padding: 0.3rem;
  margin-right: 1rem;
  color: #fff;
  background-color: #000;
}