.Header {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HERO {
  display: flex;
  justify-content: center;
  margin: 1rem;
  color: #0ff;
}

.Nav {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.Nav p {
  margin: 0;
  color: #0ff;
}

.Nav a {
  margin: 0 2rem;
  text-decoration: none;
}
