.Main {
  grid-row: 2/3;
  grid-column: 2/3;
  overflow-y: scroll;
}

.Headline {
  display: flex;
  justify-content: center;
  color: #fff;
}

.Users-List {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
