.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.command--area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input--form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input--form__label {
  color: #fff;
}