* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.App {
  display: grid;
  grid-template-rows: 15vh 70vh 15vh;
  grid-template-columns: 0 auto 0;
  background-color: #000;
}
