.header {
  box-sizing:border-box;
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  padding: 4px;
}

.header__hero {
  box-sizing:border-box;
  display: flex;
  justify-content: center;
  padding:4px;
}

.header__headline {
  color: #f00;
}

.nav {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  gap:8px;
}

.nav-element {
  color: #0ff;
}

