.header {
  box-sizing: border-box;
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 8px;
}

.header__hero {
  box-sizing: border-box;
}

.header__headline {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f00;
  font-style: italic;
  font-weight: 900;
  font-size: 64px;
  letter-spacing: 0.1ch;
  padding: 2px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

.nav-element {
  color: #0ff;
  font-size: 22px;
  font-weight: 800;
}